$brand-primary: #196FC1; 
$brand-accent: #F53207;
$white: #ffffff; 
$caution: #FFC70F; 
$error-color: #f52525;
$success-color: #1BC119; 
$font-primary-color: #333;
$font-secondary-color: #595959;
$btn-primary-color: $brand-primary; 
$primary-background: #fafbfb; // lighten(#E2EDF7, 5%);